LudumDare23/LudumDare23/LudumDare23.pidb
LudumDare23/LudumDare23/LudumDare23.sln
LudumDare23/LudumDare23/LudumDare23.userprefs
LudumDare23/LudumDare23.v11.suo

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
